<!--
NOTE: I don't know how to refresh, because we don't have any sort of "before" or "after"
parameters returned from the RSS feed. So maybe refreshing should just be re-calling the
entire thing.
--->

<ion-view view-title="The Spec">
    <ion-content ng-init="init()">
        <!-- NOTE: ng-init might be breaking it -->
        <div class="list">
            <a ng-repeat="entry in entries" class="item" href="#/tab/specentry/#{{$index}}">
                <b class="story-title">{{entry.title}}</b>
                <br>
                <span ng-bind-html="entry.contentSnippet"></span>
            </a>
        </div>
    </ion-content>
</ion-view>

<!--

Removed:   ng-click="browse(entry.link)" from <a> tag

Removed: href="#/tab/specentry/{{$index}}" (removed the  {{$index}} )

-->
