<ion-view view-title="Phone Numbers">
    <ion-content>
        <div class="list">

            <a class="item item-icon-right" href="tel:+1-315-859-4000">
					<!-- NOTE: Need to add tel scheme to XML phonegap whitelist -->
					<!-- http://rickluna.com/wp/2012/02/making-a-phone-call-from-within-phonegap-in-android-and-ios/ -->
					<!-- http://forum.ionicframework.com/t/making-phone-call-from-app-href-tel-123/1968 -->
					Campus Safety (Emergency)
					<i class="icon ion-ios-telephone-outline"></i>
<!-- 					<span class="item-note">
					      315-859-4141
					</span> -->
            </a>

            <a class="item item-icon-right" href="tel:+1-315-859-4141">
					Campus Safety (Non-Emergency)
					<i class="icon ion-ios-telephone-outline"></i>
<!-- 					<span class="item-note">
					      315-859-4141
					</span> -->
            </a>    

            <a class="item item-icon-right" href="tel:+1-315-859-5426">
					Campus Safety (Tip Now)
					<i class="icon ion-ios-telephone-outline"></i>
<!-- 					<span class="item-note">
					      315-859-5426
					</span> -->
            </a>  

            <a class="item item-icon-right" href="tel:+1-315-859-4637">
					Registrar
					<i class="icon ion-ios-telephone-outline"></i>
					<span class="item-note">
					      315-859-4637
					</span>
            </a>  

            <a class="item item-icon-right" href="tel:+1-315-859-4634">
					Dean's Office
					<i class="icon ion-ios-telephone-outline"></i>
					<span class="item-note">
					      315-859-4634
					</span>
            </a>  

            <a class="item item-icon-right" href="tel:+1-315-859-4181">
					LITS Help Desk
					<i class="icon ion-ios-telephone-outline"></i>
					<span class="item-note">
					      315-859-4181
					</span>
            </a>  

            <a class="item item-icon-right" href="tel:+1-315-859-4500">
					Physical Plant
					<i class="icon ion-ios-telephone-outline"></i>
					<span class="item-note">
					      315-859-4500
					</span>
            </a>  

            <a class="item item-icon-right" href="tel:+1-315-859-4023">
					Res Life
					<i class="icon ion-ios-telephone-outline"></i>
					<span class="item-note">
					      315-859-4023
					</span>
            </a>  

            <a class="item item-icon-right" href="tel:+1-315-859-4363">
					Writing Center
					<i class="icon ion-ios-telephone-outline"></i>
					<span class="item-note">
					      315-859-4363
					</span>
            </a>  

            <a class="item item-icon-right" href="tel:+1-315-859-4403">
					Mail Center
					<i class="icon ion-ios-telephone-outline"></i>
					<span class="item-note">
					      315-859-4403
					</span>
            </a>  

            <a class="item item-icon-right" href="tel:+1-315-859-4421">
					Admissions
					<i class="icon ion-ios-telephone-outline"></i>
					<span class="item-note">
					      315-859-4421
					</span>
            </a>              
        </div>
    </ion-content>
</ion-view>
<!--  <ion-content class="padding">
		<div class="list card">
			<div class="item item-divider">Recent Updates</div>
			<div class="item item-body">
				<div>
					There is a fire in <b>sector 3</b>
				</div>
			</div>
		</div>
		<div class="list card">
			<div class="item item-divider">Health</div>
			<div class="item item-body">
				<div>
					You ate an apple today!
				</div>
			</div>
		</div>
		<div class="list card">
			<div class="item item-divider">Upcoming</div>
			<div class="item item-body">
				<div>
					You have <b>29</b> meetings on your calendar tomorrow.
				</div>
			</div>
		</div>
	</ion-content> -->
