<ion-view view-title="Campus Map">
  <ion-content>
    <ion-scroll zooming="true" direction="xy" style="width:500px; height:500px">
      <img src="campusmap-large.jpg" width="2000px" height="2000px">
    </ion-scroll>
  </ion-content>
</ion-view>


<!--
<ion-scroll direction="xy" width="500px" height="500px">
<img style="width:2000px; height:2000px" src="../img/campusmap-large.jpg">
<img src="http://imgur.com/O3KBzVY.png" width="1000" height="1500" alt="">
<img src="http://i.imgur.com/EyoVXex.jpg" style="width:2000px; height:2000px">


    <ion-scroll direction="xy" class="myScroll">
      <img ng-src="./img/campusmap-large.jpg" width="2000px"; height="2000px">

    </ion-scroll>

-->
