.list .item.item-accordion {
  /* line-height: 38px; */
  line-height: 25px;
  padding-top: 0;
  padding-bottom: 10px;
  transition: 0.09s all linear;
}

.list .item.item-accordion.ng-hide {
  line-height: 0px;
}

.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

#dininglist {
  line-height: 10px;
  padding: 0;
}

/*
.myScroll {
  width:500px;
  height:500px;
}
*/


.myScroll {
  margin-bottom:80px;
  position:fixed;
  display:inline;
  top:0;
  right:0;
  bottom:0;
  left:0;
}

.bar.bar-positive {
  border-color: #0c63ee;
  background-color: #387ef5;
  background-image: linear-gradient(0deg, #002f86, #002f86 50%, transparent 50%);
  color: #fff;
}

/*
.bar.bar-positive {
  border-color: #0c63ee;
  background-color: #387ef5;
  background-image: linear-gradient(0deg, #0c63ee, #0c63ee 50%, transparent 50%);
  color: #fff;
}*/

#global_header {
  border-color: #0c63ee;
  background-color: #387ef5;
  background-image: linear-gradient(0deg, #0c63ee, #0c63ee 50%, transparent 50%);
  color: #fff;
}
